.link{
    display: flex;
    justify-content: center;
   align-items: center;
   gap: 5px;
    
}
h1{
    text-align: center;
}


img{
    max-height: 800px ;
     align-items: top;
     margin: 10px;
     max-width: 95%;
    
}
#imagenes{
    vertical-align: top;
    align-items: center;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
   
   border-radius: 10px;
   padding: 10px;
}
#videos{

    align-items: center;
    background-color: rgb(195, 195, 195);
    width: 100%;
    display: flex;
    justify-content: center;
   flex-direction: column;
   border-radius: 10px;
   padding: 10px;
}
@media (max-width: 900px) {
#largo{
 display: none;
 
}

.content{
    max-width: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: column;
   
}
    #imagenes{
    vertical-align: top;
    align-items: center;
    background-color: rgb(195, 195, 195);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
   border-radius: 10px;
   padding: 10px;
}
}

@media (min-width: 900px) {


#largoo{
display: none;
}
.content{
    max-width: 1000px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}
#imagenes{
    vertical-align: top;
    align-items: center;
    background-color: rgb(195, 195, 195);
    width: 100%;
    display: flex;
    justify-content: center;
   
   border-radius: 10px;
   padding: 10px;
}
    
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}
 .linkcontainer{
   border-radius: 10px;
   padding: 10px;
   background-color: black;
color:white}